body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #333;
 
}
/* Add Recipe */
.form-container {
  margin-bottom: 30px;
  width: 100%;
  background-color: #207d6d1d;

}

.form-group {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  

}




.recipe-form{

  background-color: #207d6d48;
  border-radius: 15px;
  padding: 10px;
  width: 40%;
  margin: 0 auto;
 
 }

 input,
textarea {
  flex-basis: calc(100% - 10px);
  padding: 10px;
  border: none;
  border-radius: 15px;
  font-size: 1rem;
  margin-top: 5px;
  text-align: center;
  width: auto;
}

.search-recipe-P{
  color: #207d6e;
}

.form-group input{

  background-color: #F4F9F4;
}

.form-group textarea{

  background-color: #F4F9F4;
}

label {
  margin-right: 10px;
  width: 100px;
  margin-top: 20px;
  color: #207d6e;
}

.burgerIconWrapper{
  width: 2em;
  height: 2em;
  background-color:#F4F9F4;
  border-radius: 50%;
  display: flex;
  padding: 0.5em;
  align-items: center;
  justify-content: center;
}

.addRecipeHeader{
  display: flex;
  align-items: center;
  color:#207d6e;
}

.burgerIconWrapper img{
  width: 100%;
  object-fit: contain;
}



label > span {
  margin-bottom: 5px;
}


button[type="submit"] {
  background-color: #207d6e;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 1.2rem;
  margin-top: 40px;
  margin-bottom: 30px;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: #207d6e;
}

.searchDivRecipe{
  background-color: rgba(244, 249, 244, 0.5);
  border-radius: 10px;
  padding: 10px 20px;
  margin: 10px;
  display: flex;
  flex-wrap: wrap;
 flex-direction: column;
  align-items: center;
  }

.searchButtons{
display: flex;
flex-wrap: wrap;
margin-left: 20px;
}

.selectButtonEdit{
  border-style: none;
  background-color: #207d6e;
  color: #F4F9F4;
  padding: 7px 10px; 
  width: 100px;
  border-radius: 5px;

}

.deselectButton{
  border-style: none;
  background-color: #207d6e;
  color: #F4F9F4;
  padding: 7px 10px; 
  width: 100px;
  border-radius: 5px;
}

.deselectButton:focus{
  background-color: #74B49B;
  color: #F4F9F4;
}

.recipeHideBtn {
  display: flex;
  justify-content: left;
  background-color: #207d6e;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 1.2rem;
  margin: auto;
  margin-left: 10%;
  cursor: pointer;
}

.recipeHideBtn:hover {
  background-color: #207d6d44;
}

/* recipe list */
.chefPic{

  height: 10px;
}
.welcome-recipe-wrapper{
  display: flex;
 margin-top: 15px;
  align-items: center;
  
}

.welcome-recipe-wrapper h1{
  align-items: center;
  margin-bottom: 0;
 color: #333;
}

.welcome-recipe-p{
  display: flex;
padding: 15px;
color: black;
margin-top: 0;
margin-left: 10%;
 
}

.welcome-recipe-span{
  
 color: #207d6e;
  margin: 5px;
}
.welcome-recipe-wrapper img{
  margin-top: 5px;
  margin-left: 10%;
 
  margin-right: 10px;
  width: 50px;
  height: 50px;
  background-color:#F4F9F4;
  border-radius: 50%;
  padding: 0.5em;
  padding-top: 10px;
}
.recipe-list-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px;
  background-color: #F4F9F4;
  
}

.recipe-list {
  
  width: 300px;
  margin: 30px;
  

}
 


.recipe-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 300px; 
  margin-bottom: 20px;
  padding: 25px;
  object-fit: cover;
  background-color: white;
  border-radius: 15px;
}
.recipe-container h3{
  color: #207d6e;

}

.recipe-container img {
  width: 200px;
  height: auto;
  border-radius: 10px;
}

.linkDetail{

  color: #fefffe;
}

.detail-link {
 
  background-color:#207d6e;
  color: #fff;
  padding: 5px 10px;
 
  border-radius: 10px;
  font-size: 1.2rem;
  margin-top: 30px;
  cursor: pointer;
  
  
 
}
.detail-link :hover{

  background-color: #74B49B;
  color: #fff;
  padding: 5px 10px;
  border: none;
  border-radius: 10px;
  font-size: 1.2rem;
  margin-top: 30px;
  cursor: pointer;
}


@media screen and (max-width: 768px) {
  .recipe-container {
    flex-basis: calc(50% - 10px);
  }
}

@media screen and (max-width: 480px) {
  .recipe-container {
    flex-basis: 100%;
  }
}

.newLogo{
  width: 100%;
}

/* Navbar */

.navbar {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  background-color: #f8f9fa;
  max-width: 100%;
  padding: 0.8em 2em;
}

.navbar-nav {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  margin: 0;
}

.navbar-nav li {
  margin-right: 10px;
}

.logoLink{
  width: 12%;
}


.nav-link {
  color: #207d6e;
  text-decoration: none;
  margin-right: 20px;
  font-weight: bold;
  font-size: 18px;
}

.nav-link:hover {
  color: #74B49B;
}

@media only screen and (max-width: 768px) {

  .logoLink{
    width: 20%;
  }

  .buttonWrapper{
    display: flex;
    flex-direction: column;
  }
}

@media only screen and (max-width: 480px) {

  .logoLink{
    width: 40%;
  }
.navbar-nav{
  padding-left: 1em;
  flex-direction: column;
}
.buttonWrapper{
  display: flex;
  flex-direction: column;
}

}
.navbar-logo {
  height: 80px;
  width: 80px;
  margin-right: 20px;
}



input {
  border: none;
  margin-top: 1rem;
  border-radius: 15px;
  width: auto;
}

.hidden {
  display: none;
}

input::file-selector-button {
  
  font-weight: bold;
  color: rgb(255, 255, 255);
  padding: 0.5em;
  border: none;
  border-radius: 15px;
  background-color: #3ca493c6;
}

.recipebtn {
  background-color: #207d6e;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 1.2rem;
  margin-left: 40px;
  margin-bottom: 30px;
  cursor: pointer;
  padding: 10px;
}

.recipebtn:hover {
  background-color: #207d6d44;
}

h1 {
  color: #207d6e;
}

p {
  color: #207d6e;
}
/* edit recipe form */

.form-group-edit {
  display: flex;
  flex-direction: row;
  justify-content: center;
  /* background-color: #F4F9F4; */

  
}


.edit-form-input-wrapper{
  display: flex;
  flex-direction: row;
  justify-content: center;

width: auto;
}

.edit-form-input-container{
  border: #207d6e solid;
  background-color: #207d6d34;
  border-radius: 10px;
  padding : 50px;
  width: 70%;
  height: 500px;
 

}

.form-group-edit input{
  color: #207d6e;
  background-color: #F4F9F4;
  padding: 10px;
  
}

.form-group-edit li{
 height: 80px;
  color: #207d6e;
}

.ingredient-list{
display: flex;
flex-wrap: wrap;
  padding: 30px;
}

.ingredient-list-detail li{
 
  color: #207d6e;
}
/* 
form {
  width: 40%;
  margin: 0 auto;
} */

.form-container-edit {
display: flex;
flex-direction: column;
justify-content: center;

}


.edit-recipe-img {
  max-width: 300px;
  border-radius: 20px;
  margin-top: 40px;
  margin-bottom: 40px;
}

.recipeDetails {
 
  margin: 0 auto;
  padding: 20px;
  background-color: #F4F9F4;
  object-fit: cover;
}

@media (max-width: 768px) {
  .recipeDetails {
    max-width: 90%;
  }
}

.recipeDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (max-width: 768px) {
  .recipeDiv {
    flex-direction: column;
  }
}

.imageDetail {
  max-width: 500px;
  margin-right: 20px;
  object-fit: cover;
  border-radius: 10px;
}

@media (max-width: 768px) {
  .imageDetail {
    margin-right: 0;
    margin-bottom: 20px;
}
}



.recipeContent {
  width: 500px;
  border: solid #207d6e;
  border-radius: 10px;
  padding: 10px;
  margin-top: 20px;
}

.recipeContent h3{

  color: #207d6e;
}

p {
  margin-bottom: 10px;
}

.recipebtn {
  display: block;
  margin: 20px auto;
  display: inline-block;
    margin: 10px;
}

@media (max-width: 768px) {
  .recipebtn {
    display: inline-block;
    margin: 10px;
  }
}

a {
  text-decoration: none;
}


/* Add Meal Component */
.addMealSection{
  background-color: #F4F9F4;
  padding: 3em 10%;
  text-align: left;
  display: flex;
  align-items: center;
}

.formWrapper{
  width: 50%;
  margin-left: 10%;
}

.formImgWrapper{
  width: 50%;
}

.formImgWrapper img{
  width: 100%;
}

.addMealDay{
  margin: 20px 0;
  background-color: #A7D7C5;
  padding: 20px;
  border-radius: 20px;
  text-align: left;
  width: 90%;
}

.addMealDay h2{
  text-align: left;
  color:black;
  margin-left: 0.5em;
}
.burgerIconWrapper{
  width: 2em;
  height: 2em;
  background-color:#F4F9F4;
  border-radius: 50%;
  display: flex;
  padding: 0.5em;
  align-items: center;
  justify-content: center;
}

.addMealHeader{
  display: flex;
  align-items: center;
}

.burgerIconWrapper img{
  width: 100%;
  object-fit: contain;

}
#selectDay{
  width: 100%;
  padding: 8px;
  margin: 10px 0;
  background-color: #F4F9F4;
  border-style: none;
  border-radius: 5px;
}
.mealSearch{
  padding-right: 20px;
}

.addMealLabels{
  display: block;
}
.addMealInputs{
  width: 100%;
  padding: 8px;
  margin: 10px 0;
  background-color: #F4F9F4;
  border-style: none;
  border-radius: 5px;
}
.searchDiv{
background-color: rgba(244, 249, 244, 0.5);
border-radius: 10px;
padding: 10px 20px;
margin-bottom: 10px;
display: flex;
justify-content: space-between;
align-items: center;
}

.searchP{
  margin: 0;
}


.searchButton{
  border-style: none;
  background-color: #F4F9F4;
  padding: 7px 10px; 
  width: 100px;
  border-radius: 5px;
}


.searchButton:focus{
  background-color: #74B49B;
  color: #F4F9F4;
}

.submitButton{
  border-style: none;
  background-color: #5C8D89;
  padding: 12px 20px; 
  min-width: 125px;
  border-radius: 5px;
  color: #F4F9F4;
  margin-top: 20px;
  
}
.submitButton:hover{
  background-color: #74B49B;
}

/* Mealplan site */

.mealplan{
  display: flex;
  width: 80%; 
  margin: 20px auto;
  justify-content: stretch;
  border-radius: 10px;
  background-color: #F4F9F4;
  padding-bottom: 20px;
}

.dayColumn{
  width: 20%;
  border-radius: 10px;
}

.dayColumn > p{
  border-bottom: solid lightgray 1px;
  padding-bottom: 20px;
  font-weight: 600;
}

.noMealMessage{
  background-color: white;
  padding: 10px; 
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;;
  border-radius: 10px;
  margin: 10px;
}

.mealDiv{
  display: flex;
  flex-direction: column-reverse;
  padding: 10px; 
  background-color: white;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;;
  text-align: center;
  border-radius: 10px;
  margin: 10px;
}

.mealDiv img{
  aspect-ratio: 2/1;
  max-width:150px;
object-fit: cover;
border-radius: 10px;

}
.mealDiv a {
  text-decoration: none;
  color: black;
  margin: 8px 0 5px 0;
}

.mealDiv a:hover{
  color: grey;
}

.mealsContainer{
  width: 100%;
}

.mealplanHeading{
  display: flex;
  flex-direction: column;
  align-items: left;
  text-align: left;
  width: 80%;
  margin: 30px auto;
}

.mealplanHeading h1{
color: black;
margin: 0;
}
.mealplanHeading p{
  color: black;
  margin: 20px 0 0 0;
}

.mealplanHeading span{
  color:#207d6e;
}

.welcomeWrapper{
  display: flex;
  align-items: center;
  
}
.welcomeWrapper img{
  width: 50px;
  height: 50px;
  margin-right: 10px;
  background-color:#F4F9F4;
  border-radius: 50%;
  padding: 0.5em;
}

.addAndDelete{
  width: 25%;
  display: flex;
  justify-content: space-between;
}

.mealButton{
  border-style: none;
  background-color: #5C8D89;
  padding: 12px 20px; 
  min-width: 125px;
  border-radius: 5px;
  color: #F4F9F4;
  margin-top: 20px;
  font-weight: 600;
}

.mealButton:hover{
  background-color: #74B49B;
}
.buttonsContainer{
  display: flex;
  width: 100%;
  justify-content: center;
}
.editButton {
  display: flex;
  align-items: center;
  justify-content: center;
  border-style: none;
  background-color: #5C8D89;
  width: 40px;
  height: 40px;
  border-radius: 5px;
  color: #F4F9F4;
  margin: 0 10px;
}
.editButton:hover{
  background-color:#74B49B;
}

.editButton img{
  width: 30px;
  height: 30px;
}

/* Edit Mealday */
.editMealLabels{
  display: block;
  width: 100%
}

.editMeals{
  display: flex;
  width: 100%; 
  margin: 0 auto;
  justify-content: space-around;
}

.editMeals p{
  margin: 5px 0;
}
.editMeals h3{
  margin: 10px 0;
}
.editMeals img{
  width: 90%;
  aspect-ratio: 1.5/1;
  object-fit: cover;
  border-radius: 10px;
}

.editWrapper{
  width: 50%;
  align-self: flex-start;
}


.ingredient-list {
  max-height: 150px; /* set a maximum height */
  overflow-y: scroll; /* add scroll when the height exceeds max-height */
}



/* Fridge Page */

.ingredientsContainer{
  width: 60%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 30px;
}


.fridgeLeft{
  display: flex; 
  flex-direction: column;
  width: 40%;
}
.ingredientsList{
  border-radius: 10px;
  background-color: rgba(167, 215, 197, 0.5);
  display: flex;
  flex-direction: column;
  width: 80%;
  justify-content: center;
  padding: 20px 0;
  height: 70vh;
}
.ingredientsList h2{
  margin: 0;
}

.ingredientsWrapper{
  border-radius: 10px;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
  padding: 20px 0;
  height: 70vh;
  overflow-y: scroll;
}

.ingredientsDiv{
  display: flex;
  justify-content: baseline;
  align-items: center;
  flex-direction: column;
  background-color: #F4F9F4;
  padding: 1em;
  border-radius: 10px;
  margin: 10px;
  width: 15%;
}

.ingredientsDiv{
  width: 10%;
}

.ingredientsList th {
  padding: 10px;
  margin: 0;
}

.ingredientsList td {
  padding: 10px;
  margin: 10px 10px;
  background-color: #F4F9F4;
  border-radius: 10px;
}

.ingredientsList button{
  border-style: none;
  padding: 5px;
  min-width: 40px;
  border-radius: 5px;
  color: white
}

.placeholder{
  width: 40%;
}

.fridgeSection{
  display: flex;
  padding: 0 50px;
}

/* Shopping List */

.greenSpan{
  color: #5C8D89 !important;
  font-weight: 600;
}
.redSpan{
  font-weight: 600;
  color: #89375F !important;
}

.shoppingList{
  width: 80%;
  margin: 10px auto;
  background-color: #F4F9F4;
  border-radius: 10px;
  height: 50vh;
  align-self: flex-start;
}
/* Scrollbar */

/* width */
::-webkit-scrollbar {
  width: 1em;
  margin-right: 1em;
}

/* Track */
::-webkit-scrollbar-track {
  background:#F4F9F4;
  border-radius: 20px;
  margin-right: 20px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background:#5C8D89;
  border-radius: 20px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}



.footer {
  height: 18rem;
  width: 100%;
  background-color: #aabdaf33;
  padding: 10px 0;
}

.footer h3 {
  color: #207d6e;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 20px;
}

.footer p {
  color: #207d6e;
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 30px;
}

.footer ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.footer ul li {
  color: #207d6e;
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 10px;
}

/* Public HomePage */


.publicHome{
  position: relative;
  min-height: 100vh;
}

.heroSection{
  display: flex;
  background-color: #aabdaf33;
  justify-content: center;
  padding: 60px 0;
}
.heroSection h1{
  color: black;
  font-size: 54px;
  font-weight: 900;
  margin: 0;
}
.heroImage{
  width: 40%;
}
.heroImage img{
  width: 80%;
  background-color: white;
  border-radius: 50% 50% 50% 50% / 60% 60% 40% 40%;
}

.heroText{
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  max-width: 40%;
  margin: 0;
}
.heroText p {
  color: gray;
}
.buttonWrapper{
  margin-top: 20px;
}
.buttonWrapper button{
  border-style: none;
  padding: 10px;
  color: white;
  font-size: 18px;
  width: 125px;
  background-color: #207d6e;
  border-radius: 10px;
}

.buttonWrapper button:hover{
  background-color: #74B49B;
}

.buttonSignup{
  margin-left: 20px;
}

.trioSection{
  padding: 3em 2em;

}

.trioWrapper{
  display: flex;
  width: 80%;
  margin: 30px auto;
}

.trioWrapper h3{
  margin: 1em 0;

}

.trioWrapper p{
  margin: 0;
}

.trioWrapper > div{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


.imageWrapper{
  border-radius: 50%;
  background-color: #207d6e;
  width: 10%;
  padding: 1em;
  display: flex;
  align-items: center;
  justify-content: center;
}

.imageWrapper img {
  filter: invert(100%) sepia(100%) saturate(2%) hue-rotate(354deg) brightness(105%) contrast(101%);
}

/* Login Page */
.loginPage{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0;
  padding: 1em 2em;
}

.textContainer{
  width: 40%;
  padding: 1em 0 2em 0;
  border-radius: 20px;
  background-color: #F4F9F4;
  background-color: #F4F9F4;

}

.imgContainer{
  width:50%;
  padding-left: 3%;
}
.imgContainer img{
  max-width: 90%;
}

.textContainer p {
  text-align: center;
  color: black;
  margin: 0 0 1em 0;
}

.textContainer label {
  display: block;
  width: 100%;
  text-align: left;
  margin: 1em 0;
  color: black;
  font-size: 1em;
}
.textContainer input{
  display: block;
  width: 100%;
  margin: 0;
  border-style: none;
}

.textContainer form{
  width: 70%;
  margin: 0 auto;
}

.signupLink{
  color:#5C8D89;
  font-weight: bold;
}

.signupLink:hover{
  color: black;
  padding-bottom: 0.5em;
  border-bottom: solid 2px black;
}

/* Mobile */

@media (max-width: 480px) {

  /* SignupLogin */

  .loginPage{
    display: flex;
    align-items: center;
    flex-direction: column-reverse;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0;
    padding: 1em 2em;
  }

  .textContainer{
    width: 100%;
    padding: 1em 0 2em 0;
    border-radius: 20px;
    background-color: #F4F9F4;
    background-color: #F4F9F4;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .textContainer p{
    max-width: 70%;
  }

  .imgContainer{
    width:100%;
  }

  .imgContainer img{
    max-width: 100%;
  }

  .textContainer form{
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
 
  .textContainer input{
    display: block;
    width: 90%;
    margin: 0;
    border-style: none;
  }
  .textContainer label {
    display: block;
    width: 90%;
    text-align: left;
    margin: 1em 0;
    color: black;
    font-size: 1em;
  }
}

/* Tablet */

@media (max-width: 768px) {

  /* Login/Signup */
  .loginPage{
    display: flex;
    align-items: center;
    flex-direction: column-reverse;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0;
    padding: 1em 2em;
  }

  .textContainer{
    width: 100%;
    padding: 1em 0 2em 0;
    border-radius: 20px;
    background-color: #F4F9F4;
    background-color: #F4F9F4;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .textContainer p{
    max-width: 70%;
  }

  .imgContainer{
    width:50%;
  }

  .imgContainer img{
    max-width: 100%;
  }

  .textContainer form{
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
 
  .textContainer input{
    display: block;
    width: 90%;
    margin: 0;
    border-style: none;
  }
  .textContainer label {
    display: block;
    width: 90%;
    text-align: left;
    margin: 1em 0;
    color: black;
    font-size: 1em;
  }

}


