body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #333;
}

.form-container {
  width: 100%;
  background-color: #207d6d1d;
  padding-top: 10px;
}

.form-group {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 5px;
}

.form-group input{

  background-color: #F4F9F4;
}

.form-group textarea{

  background-color: #F4F9F4;
}

label {
  margin-right: 10px;
  width: 100px;
  margin-top: 20px;
  color: #207d6e;
}

.searchEdit{
  color: #207d6e;
}

label > span {
  margin-bottom: 5px;
}

input,
textarea {
  flex-basis: calc(100% - 10px);
  padding: 10px;
  border: 1px solid #207d6e;
  border-radius: 5px;
  font-size: 1rem;
  margin-top: 5px;
  text-align: center;
}

button[type="submit"] {
  background-color: #207d6e;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 1.2rem;
  margin-top: 40px;
  margin-bottom: 30px;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: #207d6e;
}

.selectButtonEdit{
  border-style: none;
  background-color: #207d6e;
  color: #F4F9F4;
  padding: 7px 10px; 
  width: 100px;
  border-radius: 5px;

}

.deselectButton{
  border-style: none;
  background-color: #207d6e;
  color: #F4F9F4;
  padding: 7px 10px; 
  width: 100px;
  border-radius: 5px;
}

.deselectButton:focus{
  background-color: #74B49B;
  color: #F4F9F4;
}

.recipeHideBtn {
  background-color: #207d6e;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 1.2rem;
  margin: auto;
  margin-left: 40px;
  cursor: pointer;
}

.recipeHideBtn:hover {
  background-color: #207d6d44;
}

.recipe-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: stretch;
  padding: 20px;
  background-color: #F4F9F4;
}

.recipe-container {
  flex-basis: calc(33.33% - 10px);
  margin-bottom: 20px;
  padding: 5px;
  object-fit: cover;
}
.recipe-container h3{

color: #207d6e ;
}

.recipe-container img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

@media screen and (max-width: 768px) {
  .recipe-container {
    flex-basis: calc(50% - 10px);
  }
}

@media screen and (max-width: 480px) {
  .recipe-container {
    flex-basis: 100%;
  }
}

.navbar {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  background-color: #f8f9fa;
  padding: 10px;
  width: 100%;
}

.navbar-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  list-style-type: none;
}

.navbar-nav li {
  margin-right: 10px;
}

.nav-link {
  color: #207d6e;
  text-decoration: none;
  margin-right: 20px;
  font-weight: bold;
  font-size: 1.6rem;
}

.nav-link:hover {
  color: hotpink;
}

@media only screen and (max-width: 768px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }

  .navbar-nav {
    flex-direction: column;
    align-items: flex-start;
    margin-top: 20px;
  }

  .nav-link {
    margin: 10px 0;
  }
}
.navbar-logo {
  height: 80px;
  width: 80px;
  margin-right: 20px;
}

input {
  margin-top: 1rem;
}

.hidden {
  display: none;
}

input::file-selector-button {
  font-weight: bold;
  color: rgb(255, 255, 255);
  padding: 0.5em;
  border: thin solid #207d6e;
  border-radius: 3px;
  background-color: #207d6e;
}

.recipebtn {
  background-color: #207d6e;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 1.2rem;
  margin-left: 40px;
  margin-bottom: 30px;
  cursor: pointer;
  padding: 10px;
}

.recipebtn:hover {
  background-color: hotpink;
}

h1 {
  color: #207d6e;
}

p {
  color: #207d6e;
}

.form-group-edit {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: #F4F9F4;
  
}

.edit-form-input-container{

  border: #207d6e solid;
  border-radius: 10px;
  padding : 50px;

}

.form-group-edit input{
  color: #207d6e;
  background-color: #F4F9F4;
  padding: 30px;
}

.form-group-edit li{
 
  color: #207d6e;
}

.ingredient-list-detail li{

  color: #207d6e;
}

form {
  width: 40%;
  margin: 0 auto;
}

.form-container-edit {
  width: 100%;
  background-color: #F4F9F4;
  padding: 20px;
}


.edit-recipe-img {
  max-width: 500px;
  border-radius: 10px;
  margin-top: 40px;
  margin-bottom: 40px;
}

.recipeDetails {
 
  margin: 0 auto;
  padding: 20px;
  background-color: #F4F9F4;
}

@media (max-width: 768px) {
  .recipeDetails {
    max-width: 90%;
  }
}

.recipeDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (max-width: 768px) {
  .recipeDiv {
    flex-direction: column;
  }
}

.imageDetail {
  max-width: 500px;
  margin-right: 20px;
  object-fit: cover;
  border-radius: 10px;
}

@media (max-width: 768px) {
  .imageDetail {
    margin-right: 0;
    margin-bottom: 20px;
  }
}

.recipeContent {
  flex: 1;
  border: solid #207d6e;
  border-radius: 10px;
  padding: 10px;
  margin-top: 20px;
}

.recipeContent h3{

  color: #207d6e;
}

p {
  margin-bottom: 10px;
}

.recipebtn {
  display: block;
  margin: 20px auto;
  
}

@media (max-width: 768px) {
  .recipebtn {
    display: inline-block;
    margin: 10px;
  }
}

a {
  text-decoration: none;
}

.linkDetail{

  color: #fefffe;
}

.detail-link {
  background-color: #5C8D89;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 1.2rem;
  /* margin-left: 40px;  */
  margin-top: 30px;
  cursor: pointer;
  padding: 10px;
  margin-left: 40px;
  margin-right: 40px;
}

/* Add Meal Component */
.addMealDay{
  margin: 20px auto;
  background-color: #A7D7C5;
  width: 30%;
  padding: 20px;
  border-radius: 20px;
  text-align: left;
}
#selectDay{
  width: 100%;
  padding: 8px;
  margin: 10px 0;
  background-color: #F4F9F4;
  border-style: none;
  border-radius: 5px;
}
.mealSearch{
  padding-right: 20px;
}

.addMealLabels{
  display: block;
}
.addMealInputs{
  width: 100%;
  padding: 8px;
  margin: 10px 0;
  background-color: #F4F9F4;
  border-style: none;
  border-radius: 5px;
}
.searchDiv{
background-color: rgba(244, 249, 244, 0.5);
border-radius: 10px;
padding: 10px 20px;
margin-bottom: 10px;
display: flex;
justify-content: space-between;
align-items: center;
}

.searchP{
  margin: 0;
}

.searchButton{
  border-style: none;
  background-color: #F4F9F4;
  padding: 7px 10px; 
  width: 100px;
  border-radius: 5px;
}

.searchButton:focus{
  background-color: #74B49B;
  color: #F4F9F4;
}

.submitButton{
  border-style: none;
  background-color: #5C8D89;
  padding: 12px 20px; 
  width: 125px;
  border-radius: 5px;
  color: #F4F9F4;
  margin-top: 20px;
}

/* Mealplan site */

.mealplan{
  display: flex;
  width: 80%; 
  margin: 20px auto;
  justify-content: stretch;
  border-radius: 10px;
  background-color: #F4F9F4;
  padding-bottom: 20px;
}

.dayColumn{
  width: 20%;
  border-radius: 10px;
}

.dayColumn > p{
  border-bottom: solid lightgray 1px;
  padding-bottom: 20px;
  font-weight: 600;
}

.mealDiv{
  padding: 10px; 
  background-color: rgba(167, 215, 197, 0.5);
  text-align: center;
  border-radius: 10px;
  margin: 10px;
}

.mealDiv img{
  aspect-ratio: 2/1;
  max-width:150px;
object-fit: cover;
}
.mealDiv a {
  text-decoration: none;
  color: black;
}

.mealsContainer{
  width: 100%;
}

.mealButton{
  border-style: none;
  background-color: #5C8D89;
  padding: 12px 20px; 
  min-width: 125px;
  border-radius: 5px;
  color: #F4F9F4;
  margin-top: 20px;
}
.buttonsContainer{
  display: flex;
  width: 100%;
  justify-content: center;
}
.editButton {
  display: flex;
  align-items: center;
  justify-content: center;
  border-style: none;
  background-color: #5C8D89;
  width: 40px;
  height: 40px;
  border-radius: 5px;
  color: #F4F9F4;
  margin: 0 10px;
}

.editButton img{
  width: 30px;
  height: 30px;
}

/* Edit Mealday */
.editMealLabels{
  display: block;
  width: 100%
}

.editMeals{
  display: flex;
  width: 75%; 
  margin: 0 auto;
  justify-content: space-around;
}

.editMeals p{
  margin: 5px 0;
}
.editMeals h3{
  margin: 10px 0;
}
.editMeals img{
  width: 200px;
  height: 150px;
  object-fit: cover;
  border-radius: 10px;
}


.ingredient-list {
  max-height: 150px; /* set a maximum height */
  overflow-y: scroll; /* add scroll when the height exceeds max-height */
}

.footer{

  height: 220px;
}

.footer {
  background-color: #aabdaf33;
  padding-top: 10px;
  padding-bottom: 50px;
}

.footer h3 {
  color: #207d6e;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 20px;
}

.footer p {
  color: #207d6e;
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 30px;
}

.footer ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.footer ul li {
  color: #207d6e;
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 10px;
}



