
/* Colours: 
white: #F4F9F4; 
light-green: #A7D7C5;
green: #74B49B;
dark-green: #5C8D89;
*/

.App {
  text-align: center;
}

.App-logo {
  height: 10vmin;
  pointer-events: none;
  padding: 10px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 10s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Add Meal Component */
.addMealDay{
  margin: 20px auto;
  background-color: #A7D7C5;
  width: 30%;
  padding: 20px;
  border-radius: 20px;
  text-align: left;
}
#selectDay{
  width: 100%;
  padding: 8px;
  margin: 10px 0;
  background-color: #F4F9F4;
  border-style: none;
  border-radius: 5px;
}
.mealSearch{
  padding-right: 20px;
}

.addMealLabels{
  display: block;
}
.addMealInputs{
  width: 100%;
  padding: 8px;
  margin: 10px 0;
  background-color: #F4F9F4;
  border-style: none;
  border-radius: 5px;
}
.searchDiv{
background-color: rgba(244, 249, 244, 0.5);
border-radius: 10px;
padding: 10px 20px;
margin-bottom: 10px;
display: flex;
justify-content: space-between;
align-items: center;
}

.searchP{
  margin: 0;
}

.searchButton{
  border-style: none;
  background-color: #F4F9F4;
  padding: 7px 10px; 
  width: 100px;
  border-radius: 5px;
}

.searchButton:focus{
  background-color: #74B49B;
  color: #F4F9F4;
}

.submitButton{
  border-style: none;
  background-color: #5C8D89;
  padding: 12px 20px; 
  width: 125px;
  border-radius: 5px;
  color: #F4F9F4;
  margin-top: 20px;
}

/* Mealplan site */

.mealplan{
  display: flex;
  width: 80%; 
  margin: 20px auto;
  justify-content: stretch;
  border-radius: 10px;
  background-color: #F4F9F4;
  padding-bottom: 20px;
}

.dayColumn{
  width: 20%;
  border-radius: 10px;
}

.dayColumn > p{
  border-bottom: solid lightgray 1px;
  padding-bottom: 20px;
  font-weight: 600;
}

.mealDiv{
  padding: 10px; 
  background-color: rgba(167, 215, 197, 0.5);
  text-align: center;
  border-radius: 10px;
  margin: 10px;
}

.mealDiv img{
  aspect-ratio: 2/1;
  max-width:150px;
object-fit: cover;
}
.mealDiv a {
  text-decoration: none;
  color: black;
}

.mealsContainer{
  width: 100%;
}

.mealButton{
  border-style: none;
  background-color: #5C8D89;
  padding: 12px 20px; 
  min-width: 125px;
  border-radius: 5px;
  color: #F4F9F4;
  margin-top: 20px;
}
.buttonsContainer{
  display: flex;
  width: 100%;
  justify-content: center;
}
.editButton {
  display: flex;
  align-items: center;
  justify-content: center;
  border-style: none;
  background-color: #5C8D89;
  width: 40px;
  height: 40px;
  border-radius: 5px;
  color: #F4F9F4;
  margin: 0 10px;
}

.editButton img{
  width: 30px;
  height: 30px;
}

/* Edit Mealday */
.editMealLabels{
  display: block;
  width: 100%
}

.editMeals{
  display: flex;
  width: 75%; 
  margin: 0 auto;
  justify-content: space-around;
}

.editMeals p{
  margin: 5px 0;
}
.editMeals h3{
  margin: 10px 0;
}
.editMeals img{
  width: 200px;
  height: 150px;
  object-fit: cover;
  border-radius: 10px;
}